<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LssSessionInfoMapper">
	<!--mybatis ehcache缓存配置 -->
	<!-- 以下两个<cache>标签二选一,第一个可以输出日志,第二个不输出日志 <cache type="org.mybatis.caches.ehcache.LoggingEhcache" 
		/> -->
	<!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache"/> -->
	<!-- 以下与实体类的中字段一致 -->
	<sql id="selectId">
		id,
		user,
		sessionId,
		preset,
		description,
		createTime,
		notification,
		status,
		securityPolicy,
		recording,
		push,
		region,
		hls,
		rtmp
	</sql>

	<select id="findUserLssSession" resultType="com.lanyuan.entity.LssSessionInfo">
		SELECT
		<include refid="selectId" />
		from lsssessioninfo where 1=1
		<if test="roleKey != null and roleKey != '' and roleKey != 'admin'">
			<if test="accountName != null and accountName != ''">
				and user=#{accountName}
			</if>	
        </if>
	</select>
	<select id="findBySessionId" resultType="com.lanyuan.entity.LssSessionInfo">
		select <include refid="selectId" />
		from lsssessioninfo where sessionId=#{sessionId}
	</select>
	
</mapper>