<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PlayerExtendMapper">
	<!--mybatis ehcache缓存配置 -->
	<!-- 以下两个<cache>标签二选一,第一个可以输出日志,第二个不输出日志 <cache type="org.mybatis.caches.ehcache.LoggingEhcache" 
		/> -->
	<!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache"/> -->
	<!-- 以下与实体类的中字段一致 -->
	<sql id="selectId">
		id,
		player_id,
		js_str	
	</sql>

	<select id="findPlayerExtendPage" resultType="com.lanyuan.entity.PlayerExtendFormMap">
		SELECT
		<include refid="selectId" />
		from t_player_extend
		where 1 = 1
		<if test="userId != null and userId != ''">
			and player_id=#{playerId}
		</if>
	</select>
	
	<!-- 查询用户可操作的设备信息 -->
	<select id="selectUserDevice" resultType="com.lanyuan.entity.PlayerExtendFormMap">
		select <include refid="selectId" />
		 from t_player_extend where player_id=#{playerId}
	</select>
	<update id="updateByPlayerId">
		update t_player_extend set js_str=#{js_str,jdbcType=VARCHAR} where player_id=#{player_id,jdbcType=INTEGER}
	</update>
</mapper>